@charset "utf-8";

/* message box */
.msg .x-box-mc {
	font-size: 14px;
}

#msg-div {
	position: absolute;
	left: 35%;
	top: 10px;
	width: 250px;
	z-index: 20000;
	background: none;
	border: none;
}

/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

img,body,html {
	border: 0;
}

img,input,select,button {
	vertical-align: middle;
}

dl,ol,ul {
	list-style: none;
}

input {
	padding: 1px;
}

/*文字说明*/
.sumbitcolor {
	background-color: #09F;
}

.notes {
	width: 100%;
	height: auto;
	float: left;
	border: 1px solid #999;
	font-size: 12px;
	font-family: '宋体', Arial;
	color: #888;
	min-height: 50px;
	_height: 50px;
}

/*表格查询*/
#main_container {
	width: 100%;
}

.app_inquiry {
	width: 100%;
	height: auto;
	line-height: auto;
	vertical-align: middle;
	float: left;
	margin: 5px 0px;
	padding: 0px 10px;
	background-color: #E7ECEF;
}

.app_inquiry td {
	width: auto;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	color: #777;
	font-family: "宋体", Arial;
	font-size: 12px;
	text-align: left;
	float: left;
	margin-right: 10px;
	word-break: break-all;
}

.app_inquiry  th {
	width: auto;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	color: #016087;
	font-family: "宋体", Arial;
	font-size: 12px;
	float: left;
	text-align: right;
}

#search {
	width: 45px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	background: url(../images/search.gif) no-repeat;
	float: left;
}

#search  a {
	width: 45px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-family: "宋体", Arial;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

.app_bluegrid {
	width: 100%;
	height: auto;
	float: left;
}

.app_bluegrid td {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	color: #777;
	font-family: "宋体", Arial;
	font-size: 12px;
	text-align: left;
}

.app_bluegrid th {
	height: 30px;
	color: #03A8D1;
	line-height: 30px;
	vertical-align: middle;
	font-family: "宋体", Arial;
	font-size: 12px;
	text-align: right;
}

.app_bluegrid input {
	color: #777;
	font-family: "宋体", Arial;
	font-size: 12px;
	text-align: left;
	float: left;
}

/* table model light */
.table_light {
	width: 100%;
	height: 100%;
	font: "宋体", Arial;
	font-size: 12px;
	border: #86BDDA solid 1px;
}

.table_light td {
	width: auto;
	height: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	color: #016087;
}

.table_light th {
	background: url(../images/table_light_title_bg.gif) repeat-x left;
	text-align: center;
	vertical-align: middle;
	height: 26px;
	line-height: 26px;
	color: #ffffff;
}

.table_light_line1 {
	background: #D8EBF9;
}

.table_light_line2 {
	background: #FCFCFC;
}

/*表单*/
.app_infor_grid {
	width: 100%;
	height: auto;
	float: left;
}

.infor_title {
	border-bottom: 2px solid #CCCCDD;
	/*	color: #0059A9;*/
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	margin: 10px 0 0 0;
	padding-left: 0;
	vertical-align: middle;
	width: 100%;
}

.app-Shrink {
	width: 15px;
	height: 18px;
	line-height: 18px;
	float: left;
	background: url(./images/app-cut.gif) no-repeat center center;
	cursor: pointer;
	padding-right: 5px;
}

.app-expand {
	width: 15px;
	height: 18px;
	line-height: 18px;
	float: left;
	background: url(./images/app-add.gif) no-repeat center center;
	cursor: pointer;
	padding-right: 5px;
}

.table_basics { /*	background-color: #F6F6F6;*/
	border-spacing: 1px;
	margin-top: 5px;
	width: 90%;
	margin-left: 10px
}

.table_basics td {
	color: #777;
	font-family: "宋体", Arial;
	font-size: 12px;
	text-align: left;
	table-layout: fixed;
	width: 15% word-break :               break-all;
	word-wrap: break-word;
	border-bottom: 1px dashed #ddd;
	padding-left: 10px;
	line-height: 20px;
}

.table_basics th {
	color: #016E95;
	font-family: "宋体", Arial;
	font-size: 12px;
	text-align: left;
	width: 15%;
	background: #E4F1F9;
	line-height: 25px;
	padding-left: 10px;
	/*font-weight:bold;*/
}

.app-form-table th {
	color: #016E95;
	padding: 5px 0px;
	text-align: left;
	width: 8%;
}

.app-form-table td {
	padding: 5px 0px;
	width: 25%;
}

.app-form-table input {
	border: 1px solid #B5B8C8;
	_height: 20px;
}

.app-form-table img {
	margin-left: -12px; *
	margin-left: -12px;
	border-left: 1px solid #B5B8C8; *
	margin-top: 1px;
	_margin-top: 0px;
}

.app-form-table { /*	background-color: #F6F6F6;*/
	float: left;
	width: 100%;
	padding-left: 20px;
}

.info_sumbit {
	width: 500px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	float: left;
	padding-left: 135px;
	margin-top: 10px;
	display: inline;
}

.sumbit {
	width: 61px;
	height: 28px;
	line-height: 28px;
	background: url(../images/saves.gif) no-repeat;
	float: left;
	margin-right: 10px;
	text-align: center;
}

.sumbit a {
	width: 61px;
	height: 28px;
	line-height: 28px;
	font-family: "宋体", Arial;
	font-size: 12px;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	float: left;
}

.reset {
	width: 61px;
	height: 28px;
	line-height: 28px;
	background: url(../images/resets.gif) no-repeat;
	float: left;
	text-align: center;
}

.reset a {
	width: 61px;
	height: 28px;
	line-height: 28px;
	font-family: "宋体", Arial;
	font-size: 12px;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	float: left;
}

/*照片区*/
.infor_white {
	width: 15%;
	height: auto;
	float: left;
	padding-top: 30px;
	margin-left: 30px;
}

/*通用模板*/ /*操作区*/
.infor_edit {
	width: 100%;
	height: auto;
	vertical-align: middle;
	float: left;
	margin: 5px 0px 0px 0px;
}

.infor_edit ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.infor_edit ul li {
	width: auto;
	height: 20px;
	line-height: 20px;
	float: left;
	color: #666666;
	font-family: "宋体", Arial;
	font-size: 12px;
	margin: 0px 10px;
}

.infor_edit ul li a {
	color: #666666;
	text-decoration: none;
}

.infor_edit ul li a:hover {
	color: #DA1602;
	text-decoration: none;
}

.infor_edit ul li div {
	width: auto;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	float: left;
	text-align: right;
	padding: 0;
	margin: 0;
}

.infor_edit ul li span {
	width: auto;
	vertical-align: middle;
	text-align: left;
	float: left;
	margin: 0;
	padding: 0;
	height: 20px;
	line-height: 20px;
}

#reminder {
	float: left;
	font-family: "宋体", Arial;
	font-size: 12px;
	color: #494949;
	width: 250px;
}

.span_unedit {
	border-bottom: solid 1px #ccccdd;
	height: 20px;
	width: 130px;
	display: block;
	padding-left: 20px;
}

.span_unedit_s {
	border-bottom: solid 1px #ccccdd;
	width: 128px;
	display: block;
	vertical-align: middle;
	padding-bottom: 3px;
    padding-left: 2px;
    padding-top: 3px;
    text-align:center;
}
.x-grid3-row-over td {vertical-align: middle !important; }
.progress {
	width: 260px;
	height: 20px;
	line-height: 45px;
	float: left;
	background: url(../images/progress2.gif) no-repeat center;
}

.gonext {
	width: 16px;
	height: 16px;
	line-height: 45px;
	float: left;
	background: url(../images/resultset_next.png) no-repeat center;
}

.gopre {
	width: 16px;
	height: 16px;
	line-height: 45px;
	float: left;
	background: url(../images/resultset_previous.png) no-repeat center;
}

.accept {
	width: 16px;
	height: 16px;
	float: left;
	line-height: 45px;
	background: url(../images/accept.png) no-repeat center;
}

.unaccept {
	width: 16px;
	height: 16px;
	float: left;
	line-height: 45px;
	background: url(../images/delete.gif) no-repeat center;
}

.exam {
	width: 128px;
	height: 128px;
	float: left;
	line-height: 45px;
	background: url(../images/png-1742.png) no-repeat center;
}

.infor_msgg {
	width: 100%;
	background-color: #f5f5f5;
	border: 1px #000080;
	margin-top: 8px;
	padding: 10px 10px;
}

.infor_msgg a {
	color: #ce7323;
}

.infor_msgg a:hover {
	text-decoration: none;
}

.infor_msgg .icon {
	float: left;
	width: 30px;
	height: 50px;
	display: block;
}

.infor_msgg .icon span {
	margin: 0px;
	width: 22px;
	height: 22px;
	background: url(../images/style_frame.png) no-repeat -132px -247px;
	display: block;
}

.infor_msgg .text {
	margin: 0px;
	float: left;
	width: 500px;
	font-size: 12px;
	color: #000000;
	line-height: 200%;
	display: block;
}

/* query div */
.query_box {
	float: left;
	padding: 3px 5px;
	min-width: 200px;
	WHITE-SPACE: nowrap;
}

.query_box span {
	float: left;
	margin-right: 5px;
}

/* ext input img */
.x-form-field-wrap .x-form-trigger {
	margin-left: -10px;
}

.sc_img {
	background: url(../images/bigicon.jpg) no-repeat;
	width: 56px;
	height: 48px;
	display: block;
	margin: 0 auto;
}

/*dynamic column select*/
.portlet-table .column-picker {
	width: 9px;
	padding-left: 3px;
}

.portlet-table .column-picker a { /*
	background-image: url(../images/resultset_next.png);
	background-repeat: no-repeat;
	*/
	width: 100%;
}

.selected_true {
	margin: 2px 2px 2px 2px;
	display: block;
	float: left;
}

.selected_false {
	margin: 2px 2px 2px 2px;
	display: none;
	float: left;
}

.check_true {
	background-image: url(../images/checked.gif) !important
}

.check_false {
	background-image: url(../images/unchecked.gif) !important
}

.check_ {
	background-image: url(../images/unchecked.gif) !important
}
/*more-select*/
.x-combo-list-selected td {white-space: pre;}
.x-combo-list-inner td {white-space: pre;}


.birthday {
	width: 35px;
	height: 35px;
	background: url(../images/birthday.gif) !important
}

.ok_icon {
	height: 16px;
	dispaly:block;
    background: url( ../images/save.gif ) no-repeat left;
}

.del_icon {
	height: 16px;
	dispaly:block;
	background: url(../images/reset.gif) no-repeat left;
}

.tip_icon {
	height: 16px;
	dispaly:block;
	background: url(../images/exclamation.gif) no-repeat left;
}
.bybtn {
    height: 50px !important;
    width:325px !important;
	dispaly:block !important;
	color:#4161a9 !important;
	font-weight:bold !important;
	cursor: pointer !important;
    padding-left: 15px !important;
    text-align: left !important;
    border:none !important;
	background: url(../images/bybtn.gif) no-repeat left !important;
	outline:none;  /*hidefocus*/
	hide-focus: expression(this.hideFocus=true);/*hidefocus*/
}
.bybtn::-moz-focus-inner{border-color:transparent !important;}/*hidefocus for  FF*/
.bybtn2 {
    height: 50px !important;
    width:325px !important;
	dispaly:block !important;
	color:#4161a9 !important;
	font-weight:bold !important;
	cursor: pointer !important;
    padding-left: 11px !important;
    text-align: left !important;
    border:none !important;
	background: url(../images/bybtn-2.gif) no-repeat left !important;
	outline:none;
	hide-focus: expression(this.hideFocus=true);
}
.bybtn2::-moz-focus-inner{border-color:transparent !important;}

.queryrc { vertical-align: middle !important;}
.mycssclass { vertical-align: middle !important;}
