html, body, th, td, dl, dt, dd, ul, ol, li, form, textarea, input, select {
    margin: 0;
    padding: 0;
    font: 12px Arial, Helvetica, sans-serif;
}

img, body, html {
    border: 0;
}

img, input, select, button {
    vertical-align: middle;
}

a {
    color: #336;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

dl, ul {
    list-style: none;
}

input {
}

fieldset {
    border: 1px solid #999;
}

th, td {
    vertical-align: top;
}

.clearFix {
    overflow: hidden;
    zoom: 1;
}

body {
    background: #177699;
}

#container {
    margin: 0 auto;
    min-width:1000px;
}

#containerFrame {
    background:#daf2ff;
}

#header {
    background: url( ../images/headerBg.png ) repeat-x;
}
#headerFrame{
    background: url( ../images/headerLeft.png ) no-repeat top left;
}
#headerInnerFrame{
    height: 81px;
   /* background: url( ../images/headerRight.png ) no-repeat top right;*/

}
#headerLeft {
    float:left;
    height:61px;
    width:1px;
}

#headerRight {
    float: right;
    padding:18px 15px 0 0;
}

#topMenu {
    white-space: nowrap;
    text-align: right;
}

#topMenu form {
    display: inline;
}

#topMenuLeft {
    display: none;
}

#topMenuRight {
    display: none;
}

#topMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topMenu li {
    display: inline;
    margin-left: 2px;
}

#topMenu .siteMsg img{
    width:41px;
    height:35px;
    background:url(../images/top_right.png) no-repeat  -80px 0;
	_background:url(../images/icon_topright.gif) no-repeat  -80px 0;
}
#topMenu .siteMsg:hover img{
    background:url(../images/top_right_h.png) no-repeat -80px 0;
	_background:url(../images/icon_topright_h.gif) no-repeat -80px 0;
	
}

#topMenu li a:hover  {text-decoration:none;}

#topMenu .selectStyle img{
    width:40px;
    height:35px;
    background:url(../images/top_right.png) no-repeat 0 0;
	_background:url(../images/icon_topright.gif) no-repeat  0 0;
}
#topMenu .selectStyle:hover img{
    background:url(../images/top_right_h.png) no-repeat;
	_background:url(../images/icon_topright_h.gif) no-repeat  ;
}

#topMenu .userInfo img{
    width:39px;
    height:35px;
    background:url(../images/top_right.png) no-repeat -45px 0;
	_background:url(../images/icon_topright.gif) no-repeat  -45px 0;
}
#topMenu .userInfo:hover img{
    background:url(../images/top_right_h.png) no-repeat -45px 0;
	_background:url(../images/icon_topright_h.gif) no-repeat  -45px 0;
}

#topMenu .siteMap img{
    width:30px;
    height:18px;
    background:url(../images/icon_sitemap.png) no-repeat;
}
#topMenu .siteMap:hover img{
    background:url(../images/icon_sitemap_over.png) no-repeat;
}

#topMenu .siteLogout img{
    width:20px;
    height:20px;
    background:url(../images/logout.gif) no-repeat right top;
	_background:url(../images/logout.gif) no-repeat  right top;
}
#topMenu .siteLogout:hover img{
    background:url(../images/logout.gif) no-repeat right top;
	_background:url(../images/logout.gif) no-repeat  right top;
}

#headerMsg {
    display:none;
}

#mainMenu {
    clear: both;
    height: 31px;
	background:url(../images/mainMenubg.jpg) repeat-x;
}

#mainMenu .search-btn {
    border: none;
    width: 20px;
    background: url( ../images/search.gif ) no-repeat 2px 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#mainMenuLeft {

    padding:5px 0 0 5px;
    float:left;
}

#mainMenuRight {
    padding:8px 6px 0 0;
    float:right;
	color:#fff;
}

#mainMenuRight  a {
   color:#fff;
}

#mainMenuContent{
    width:1px;
    overflow:hidden;
}

#mainMenu ul {
    float: left;
    margin: 0;
    list-style: none;
}

#mainMenu li {
    float: left;
    margin: 0;
    padding: 0;
}

#mainMenu ul a {
    float: left;
    display: block;
    margin: 0 8px;
    text-decoration: none;
/*    background: url( ../images/Nav_UnActive_l.png ) no-repeat top left;*/
    white-space:nowrap;
}

#mainMenu ul a div {
    color: #fff;
    float: left;
    height: 31px;
    padding: 10px 7px 0;
 /*   background: url( ../images/Nav_UnActive_r.png ) no-repeat top right;*/
    cursor: pointer;
}

#mainMenu ul a:hover {
    background: url( ../images/Nav_Active_l.png ) no-repeat top left;
}
#mainMenu ul .current a {
    background: url( ../images/Nav_Active_l.png ) no-repeat top left;
    font-weight:bold;
	padding-left:5px;
}

#mainMenu ul a:hover div, #mainMenu ul .current a div {
    color: #04305D;
    background: url( ../images/Nav_Active_r.png ) no-repeat top right;
}

#mainMenu ul .topPageBtn {
    margin-left: 3px;
    cursor: pointer;
    background: url( ../images/menudown.png ) no-repeat 0 1px;
    padding-right: 9px;

}

#mainMenu ul .space {
    background: url( ../images/mainMenuspace.jpg ) no-repeat ;
	width:3px;
	height:31px;
    display:block;
}


#addTab {
    float: left;
}

#addTab a {
    display: block;
    float: left;
    text-decoration: none;
    background: url( ../images/Nav_Add_l.png ) no-repeat center left;
}

#addTab a div {
    width:52px;
    height: 24px;
    padding: 13px 10px 0 12px;
    cursor:pointer;
    background: url( ../images/Nav_Add_r.png ) no-repeat center right;
}

#addTab input {
    margin: 10px 0 0;
}

.editTabTitle {
    display: block;
    float: left;
    border: 1px solid #ccc;
    font-size: 12px;
}

.addPageTitle {
    width: 70px;
    border: 1px solid #ccc;
}

.ipt {
    border: 1px solid #B9D1F0;
    margin: 0 5px;
    font-size: 12px;
}

.btn {
    font-size: 12px;
    height: 18px;
    padding: 0 2px;
}

#loginFail {
    color: red;
    padding-right: 5px;
}

.rssBtn {
    background: url( ../images/rss.gif ) no-repeat 0 0;
    padding-bottom:1px;
}

.rssBtn:hover {
    text-decoration: none;
}

.clippingBtn {
    background: url( ../images/webclipping.png ) no-repeat 0 0;
    padding-bottom:1px;
}

.tbodyLeft{
  /*  padding-left:7px;*/
}

#tbody {
    background: #177699;
    margin: 0 5px;
	border-top:5px solid #98D0E9;
 /*   padding-right:7px;*/
}

#recommendPortlets {
    background: #ffc;
    border-bottom: 1px solid #cc9;
    padding: 3px 10px 3px 10px;
    margin-bottom: 3px;
}

#recommendPortlets .rpTitle {
    font-weight: bold;
    text-align: left;
}

#recommendPortlets li {
    float: left;
    text-align: left;
    margin: 5px;
    border: none;
}

#recommendPortlets div {
    text-align: center;
    margin: 5px;
}

#recommendPortlets img {
    display: block;
    border: 1px solid #666;
}

#mainContentTop {
    height: 5px;
    margin-top: 3px;
    background: #E3F7FE;
	display:none;
}

#mainContentTopLeft {
    float: left;
    width: 5px;
    height: 5px;
  /*  background: url( ../images/Subtab_bg_tl.png ) no-repeat;*/
}

#mainContentTopRight {
    float: right;
    width: 5px;
    height: 5px;
  /*  background: url( ../images/Subtab_bg_tr.png ) no-repeat;*/
}

#mainContentBottom {
    height: 5px;
    background: #E5F6FD;
}

#mainContentBottomLeft {
    float: left;
    width: 5px;
    height: 5px;
/*    background: url( ../images/Subtab_bg_bl.png ) no-repeat;*/
}

#mainContentBottomRight {
    float: right;
    width: 5px;
    height: 5px;
/*    background: url( ../images/Subtab_bg_br.png ) no-repeat;*/
}

#mainContent {
    width: 100%;
}

#mainContentFrame {
    background: #E5F6FD;
    min-height:420px;
    _height:420px;
}

#porletsLayout {
    width: 100%;
}

#porletsLayout td {
    vertical-align: top;
}

.placeholder {
    font-size: 0;
    height: 0;
}

.portlets {
    padding: 3px;
}

.portlet {
    margin: 8px 5px 0;
    background: url( ../images/table_bl.png ) no-repeat left bottom;
}

.portletFrame {
    background: url( ../images/table_br.png ) no-repeat right bottom;
    padding-bottom: 6px;
}

.portletHeader {
    background: url( ../images/table_tl.png ) no-repeat left top;
}

.portletHeaderFrame {
    background: url( ../images/table_tr.png ) no-repeat right top;
    padding: 4px 4px 0;
    cursor: move;
}

.portletContent {
    padding: 0 5px 5px;
    overflow: hidden;
}

.portletHeaderFrame .title {
    cursor: text;
    float: left;
    padding: 1px 5px 1px;
    font-weight: bold;
    color: #175cb4;
}

.portletHeaderFrame .toolButton {
    float: right;
}

.toolButton {
}

.toolButton a {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.toolButton .more {
    background: url( ../images/tools.gif ) no-repeat -38px -158px;
}

.toolButton .more:hover {
    background-position: 0 -158px;
}

.toolButton .minimize {
    background: url( ../images/tools.gif ) no-repeat -35px -70px;
}

.toolButton .minimize:hover {
    background-position: 3px -70px;
}

.toolButton .maximize {
    background: url( ../images/tools.gif ) no-repeat -36px -37px;
}

.toolButton .maximize:hover {
    background-position: 2px -37px;
}

.toolButton .restore {
    background: url( ../images/tools.gif ) no-repeat -36px -117px;
}

.toolButton .restore:hover {
    background-position: 2px -117px;
}

.toolButton .close {
    background: url( ../images/tools.gif ) no-repeat -37px 3px;
}

.toolButton .close:hover {
    background-position: 1px 3px;
}


.toolButton .borderHide {
    background: url( ../images/tools.png ) no-repeat -37px -211px;
}

.toolButton .borderHide:hover {
    background-position: 3px -211px;
}

.toolButton .borderShow {
    background: url( ../images/tools.png ) no-repeat -37px -176px;
}

.toolButton .borderShow:hover {
    background-position: 3px -176px;
}

#sideMenu {
 /*   padding-top: 12px;*/
    width: 175px;
    vertical-align: top;
    background: #98D0E9 url( ../images/sidemenubg.jpg ) repeat-y ;
}


.sideMenuPage {
    height:27px;

    padding: 10px 0 0 12px;
	background:url( ../images/sideMenuPagebg.jpg ) no-repeat top left;
}
.sideMenuPage a{
    color:#042836;
	font-weight:bold;
}

.sideMenuPage span{
    white-space:nowrap;
}

.currentSideMenuPage {
    background: url( ../images/Tab.png ) no-repeat top left;
    height:22px;
    padding: 10px 0 0 12px;
}

.currentSideMenuPage span {
    font-weight: bold;
    color: #0091d5;

}

#sideMenuTop {
    background:#98D0E9;
	height:3px;
	display:none;
}


#sideMenuBottom {
    display: none;
}

#sideMenuContent {
}

.sideMenuPanel {
}

#sideMenu a {
    display: block;
    float: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow :ellipsis;
    text-decoration:none;
}

#sideMenu input{
    width: 62px;
}

.sideMenuTitle {
    height:26px;
    cursor:pointer;
    padding: 10px 0 0 12px;
    background:url(../images/subMenu.jpg) no-repeat left top;
}

.sideMenuTitle a {
    color: #042836;
	font-weight:bold;
}

.sideMenuToolBtn {
    float: right;
	width: 14px;
    height: 14px;
    margin-right:1px;
    background: url( ../images/menu.png ) no-repeat 0 -257px;
    cursor: pointer;
}

.sideMenuPanel ul {
    margin-bottom: 5px;
	margin-top:5px;
    padding: 0;
    list-style: none;
}

.sideMenuPanel li {
    height:18px;
    padding: 10px 0 0 22px;
}

.sideMenuPanel li a{
    color:#095579;
}

.sideMenuPanel li span{
    white-space:nowrap;
}

.sideMenuPanel li.current{
    background: url( ../images/Tab.png ) no-repeat 0 0;
}

.sideMenuPanel li.current span{
    color: #0091d5;
}

.sideMenuPanel .current span {
    font-weight: bold;
}

#footer {
    margin: 0 5px;
    clear: both;
 /*   background: url( ../images/Tab_bg_b.png ) top repeat-x;*/
    text-align: center;
    color: #ade4ff;
}

#footerLeft {
/*
    float: left;
    width: 11px;
    height: 19px;
    background: url( ../images/Tab_bg_bl.png ) no-repeat top left;
	*/
}

#footerRight {
/*
    float: right;
    width: 17px;
    height: 19px;
    background: url( ../images/Tab_bg_br.png ) no-repeat top right;
	*/
}

#footerMsg {
    padding-top: 28px;
    border-top:2px solid #aaa;
}

#footerMsg div {
    padding-top: 5px;
}

#portletMenu, #selectStyleMenu, #addContentMenu, #sideMenuToolMenu, #addRssEntityMenu,#addClippingEntityMenu,#userSettingMenu {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid #bbb;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff;
    z-index: 9999;
}

#portletMenu a, #selectStyleMenu a, #addContentMenu a, #sideMenuToolMenu a,#userSettingMenu a {
    width: 80px;
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 24px;
    border-bottom: 1px solid #f1f1f1;

}

#selectStyleMenu a,#userSettingMenu a{
    width: 150px;
    padding:3px 6px;
}

#selectStyleMenu img{
    width:150px;
    height:28px;
}

#addRssEntityMenu {
    padding: 5px 10px;
}

#addClippingEntityMenu{
    padding: 5px 10px;
}

#portletMenu a:hover, #selectStyleMenu a:hover, #addContentMenu a:hover, #sideMenuToolMenu a:hover,#userSettingMenu a:hover {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

#portletMenu .view {
    background: url( ../images/menu.png ) no-repeat 3px -349px;
}

#portletMenu .config {
    background: url( ../images/menu.png ) no-repeat 3px -221px;
}

#portletMenu .edit {
    background: url( ../images/menu.png ) no-repeat 3px -125px;
}

#portletMenu .authset {
    background: url( ../images/menu.png ) no-repeat 3px -189px;
}

#portletMenu .share {
    background: url( ../images/menu.png ) no-repeat 3px -158px;
}

#portletMenu .help {
    background: url( ../images/menu.png ) no-repeat 3px -158px;
}

#portletMenu .borderStyle {
    background: url( ../images/menu.png ) no-repeat 3px -283px;
}

.portlet-table {
    width: 100%;
    border-collapse: collapse;
}

.portlet-table-even {
    background: #fff;
}

.portlet-table-odd {
    background: #e9f8ff;
}

.portlet-table-over {
    background: #e5f6ff;
}

.portlet-table-down {
    background: #c9ecff;
}

.portlet-table td {
    border: 1px solid #fff;
    padding: 3px 0 3px 8px;
    vertical-align: middle;
    word-break: break-all;
}

.portlet-table th {
    padding: 5px 0 3px 8px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #fff;
    background: #9fe1ff;
    color: #666;
    white-space: nowrap;
}

.portlet-name {
    font-size: 14px;
    font-weight: bold;
    color: #0E4D8B;
}

.portlet-title {
    margin: 10px 0 10px 10px;
}

.portlet-form-table th {
    color: #0e4d8b;
    text-align: right;
    padding: 5px 15px 5px 10px;
    white-space: nowrap;
}

.portlet-form-table td{
    padding:5px;
}

.portlet-form-table caption {
    text-align: left;
}

.naviHover {
    color: #fff !important;
    background: #36c !important;
}

#pageLayoutSelect {
    list-style: none;
}

#pageLayoutSelect li {
    float: left;
    margin: 10px;
}

.portlet-page {
    padding: 4px;
    border: 3px solid #fff;
    cursor: pointer;
    filter: alpha( opacity = 40 );
    -moz-opacity: 0.4;
    opacity: 0.4;
}

.portlet-page-on {
    padding: 4px;
    border: 3px solid #fff;
    cursor: pointer;
    filter: alpha( opacity = 90 );
    -moz-opacity: 0.9;
    opacity: 0.9;
}

.portlet-box {
    border: 1px solid #B0C8E4;
    margin: 5px 3px 10px;
    text-align: left;
}

.portlet-box-title {
    background: #DBEEFF;
    color: #6D6D6D;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding: 0 5px 0 8px;
    text-align: left;
}

.portlet-page-current {
    border: 3px #36C solid;
    padding: 4px;
}

.pTypes-node {
    height: 18px;
    background: #eee url( ../images/cmp-bg.gif ) repeat-x;
    margin-top: 1px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
}

.pTypes-node .x-tree-node-icon {
    display: none;
}

.pType {
    background: #fff;
    border: 1px solid #fff;
    margin: 3px;
}

.pType .x-tree-ec-icon {
    display: none;
}

.pType-icon {
    background-image: url( ../images/app.png ) !important;
}

.pItem {
    border: 1px solid #fff;
    border-bottom: 1px solid #bfe9fc;
    padding: 6px 0;
    margin-left:6px;
    width:96%;
}

.pItem dl{
    padding:5px;
}

.pItem dd{
    padding:1px 0 0 15px;
}

.pInfo th {
    padding-top: 3px;
    text-align: left;
    color: #999;
}

.pInfo td {
    padding: 1px 4px;
}

.portlet-icon {
    background: #fff;
    border: 1px solid #eee;
    width: 120px;
    height: 60px;
    padding: 2px;
    margin: 2px;
}

.warningMsg {
    text-align: left;
    margin: 0 10px;
    padding: 3px 9px 3px 23px;
    background: #ff9 url( ../images/ok.gif ) no-repeat 4px 3px;
	line-height:30px;
}

.errMsg {
    text-align: left;
    padding: 4px 25px;
    background: #ff9 url( ../images/sError.gif ) no-repeat 4px 3px;
	line-height:30px;
}

.pagination-info {
    padding: 5px;
    line-height: 130%;
}

.pagination-info span {
    display: block;
    float: left;
    padding: 2px 6px;
}

.pagination-info a, .pagination-info div, .pagination-info span {
    display: block;
    float: left;
    border: 1px solid #92deff;
    padding: 2px 6px;
    margin: 0 2px;
}

.pagination-info div {
    font-weight: bold;
    color: #000;
    background: #fff;
}

.pagination-info a:hover {
    background: #fff;
    color: #00c;
}

.explanation-msg {
    color: #67cefc;
    margin: 5px;
}

.portlet-top-btn, .portlet-top-btn:hover {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background: url( ../images/icon_arrow.gif ) no-repeat 0 50%;
    padding-left: 11px;
}

.main-table {
    border-collapse: collapse;
    background:#fff;
}

.main-table caption {
    text-align: left;
    padding: 10px;
}

.main-table th {
    color: #0e4d8b;
    font-weight: normal;
    border: 1px #98b1c8 solid;
    text-align: right;
    padding: 5px 15px 5px 10px;
    white-space: nowrap;
    vertical-align: top;;
}

.main-table-title caption {
    text-align: left;
    padding: 10px;
}

.main-table-title {
    text-align: left;
    border: 1px #98b1c8 solid;
    background: #f2f6fb;
    padding: 4px 0 4px 10px;
    color: #0e4d8b;
}

.main-table td {
    border: 1px #98b1c8 solid;
    vertical-align: middle;
    color: #848484;
    text-align: left;
    padding: 5px 10px;
}

.main-table ul {
    list-style: square inside;
}

.main-table li {
    margin: 0 10px;
    padding: 2px;
}

.search-form {
    padding: 20px;
}

.search-form input {
    padding: 1px;
}

.search-content {
    width: 70%;
    padding: 20px;
}

.search-result {
    margin: 20px 0;
}

.search-top {
    background: #eee;
    padding: 4px;
}

.result-title a {
    font-size: 16px;
    text-decoration: underline;
}

.result-info {
    color: #aaa;
    padding: 0 10px;
    white-space: nowrap;
}

.result-content {
    line-height: 150%;
}

.result-site {
    color: #080;
}

.user-face {
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: 3px;
    overflow: hidden;
}

.user-state-online {
    background: url( ../images/user.gif ) no-repeat;
    padding-left: 18px;
}

.user-state-offline {
    background: url( ../images/user-offline.gif ) no-repeat;
    padding-left: 18px;
}

.group-state {
    background: url( ../images/group.gif ) no-repeat;
    padding-left: 18px;
}

.info-card {
    width: 200px;
}

.info-card span {
    color: #666;
}

.info-card ul {
    list-style: none;
}

.info-card li {
    padding: 2px;
}

.sign-info-title {
    color: #33A0A0;
    padding: 5px 0;
}

.sign-info {
    color: #666;
}

.result-star {
    background: url( ../images/star.gif ) 0 6px repeat-x;
    margin-left: 8px;
}

.search-item {
    padding: 5px;

}

.search-item span {
    padding-left: 6px;
    color: #aaa;
}

.remind-box {
    position: absolute;
    width: 250px;
    z-index: 20000;
}

.remind-box-title {
    font-weight: bold;
    color: red;
    padding-bottom: 5px;
}

.remind-box-content {
    text-indent: 2em;
    padding: 3px;

}

.remind-box-bottom {
    text-align: right;
    color: #666;
}

#hideMenuButton{
    display:block;
    width:16px;
    height:16px;
    background:url(../images/collapse.gif) no-repeat 50% 50%;

    margin-left:1px;
	float:left;
	padding-top:5px 1px 1px ;
}
#hideMenuButton:hover{
    background-color:#fff;
    border:1px solid #98C0F4;
    padding:0;

}
#showMenuButton{
    position:absolute;
    top:1px;
    left:1px;
    width:16px;
    height:16px;
    background:#fff url(../images/expand.gif) no-repeat 50% 50%;
    border:1px solid #98C0F4;
    margin-left:2px;
}
#showMenuButton:hover{
    background-color:#98C0F4;
}
#buttonToolTip{
    width:160px;
    height:150px;
    position:absolute;
    top:82px;
    left:18px;
    background:url(../images/tipBg.gif) no-repeat;
    padding:42px 20px 0 12px;
}
#buttonToolTip a{
    display:block;
    float:right;
    width:15px;
    height:15px;
    background:url(../images/close.gif) no-repeat;
}

.icon-loading{
    width:16px;
    height:16px;
    background:url(../images/loading.gif) no-repeat;
}
.pageFixed{
    padding-top:1px;
    background: url( ../images/lock.gif ) no-repeat -50px 0;
}
.pageFixed:hover{
    background: url( ../images/lock.gif ) no-repeat -50px -48px;
}
.pageNotFixed{
    padding-top:1px;
    background: url( ../images/lock.gif ) no-repeat 0 0;
}
.pageNotFixed:hover{
    background: url( ../images/lock.gif ) no-repeat 0 -48px;
}
.x-grid3-td-title .topic {
    padding-left: 20px;
    font-weight: bold;
}
.hasReadbackground{
	    background: transparent url( ../images/hasRead.gif ) no-repeat;
}
.notReadbackground{
	    background: transparent url( ../images/notRead.gif ) no-repeat;
}
.receiptbackground{
	    background: transparent url( ../images/receipt.gif ) no-repeat;
}

.x-grid3-td-title .x-grid3-cell-inner {
    white-space: normal;
}

.x-grid3-row-body p {
    margin: 5px 20px 10px 25px !important;
    color: #555;
}

.hasRead {
    font-weight: normal !important;;
}

#main-tabs .x-tab-panel-body {
    background: transparent;
    border: 0 none;
}

.summary {
    background-image: url( ../images/details.gif ) !important;
}

.preview-bottom {
    background-image: url( ../images/preview-bottom.gif ) !important;
}

.preview-right {
    background-image: url( ../images/preview-right.gif ) !important;
}

.preview-hide {
    background-image: url( ../images/preview-hide.gif ) !important;
}

.addMsg-icon {
    background-image: url( ../images/addMsg.gif ) !important;
}

.delete-icon {
    background-image: url( ../images/deleteMsg.gif ) !important;
}

.revert-icon {
    background-image: url( ../images/revertMsg.gif ) !important;
}

.open-icon {
    background-image: url( ../images/openMsg.gif ) !important;
}

.refresh-icon {
    background-image: url( ../images/refresh.gif ) !important;
}

.reply-msg {
    background-image: url( ../images/editMsg.gif ) !important;
}

.preview .x-panel-body {
    background: #fff;
    color: #222;
    font: normal 12px tahoma, verdana, arial, sans-serif;
}

.preview .x-panel-body p {
    line-height: 18px;
    margin: 8px 0;
}

.preview .x-panel-body ul {
    margin-left: 18px;
}

.preview .x-panel-body ul li {
    display: list-item;
    list-style-image: none !important;
    list-style-position: outside !important;
    list-style-type: disc !important;
    margin-left: 18px;
}

.preview .x-panel-body pre, .preview .x-panel-body code {
    background: #f1f1f1;
    display: block;
}

.preview .x-panel-body div.post-title {
    font-weight: bold;
    color: #555;
    font-size: 11px;
}

.preview .x-panel-body div.post-author {
    font-weight: normal;
    color: #555;
    font-size: 11px;
    padding: 2px 10px;
}

.preview .x-panel-body span.post-date {
    font-weight: normal;
    color: #555;
    float: right;
    font-size: 11px;
}

.preview .x-panel-body div.post-data {
    background: #f1f2f4;
    padding: 5px;
    border-bottom: 1px solid #dadadb;
}

.preview .x-panel-body div.post-body {
    padding: 10px;
}

.reading-menu .x-menu-item-checked {
   border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
	padding:0;
}

.errTitle{
    float:left;
    padding:3px 10px;
    margin:5px;
}
.errPre {
    clear:left;
    line-height: 120%;
    margin:5px 10px;
    padding:3px;
    color: #333;
    background: #fcfcfc;
    border: 1px solid #f1f1f1;
    word-break:break-all;
}
.entity-star{
    background:url(../images/star.gif) 0 0 repeat-x;
}